/* https://cdn.spacetelescope.org/archives/images/screen/opo0328a.jpg*/
/*https://cdn.spacetelescope.org/archives/images/screen/opo9941a.jpg*/

.content__main--checkout-form {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /*background: #17183B;*/
}

.content__main--checkout-form .overlay__main--checkout-form {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: magenta;
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: .2;
}

.header__checkout-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: white;
  z-index: 10;
  padding: 20px;
}
